@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-slate-950: #0f172a;
  --color-slate-900: #1e293b;
  --color-slate-800: #334155;
  --color-slate-700: #475569;
  --color-slate-600: #64748b;
  --color-slate-500: #94a3b8;
  --color-slate-400: #cbd5e1;
  --color-slate-300: #e2e8f0;
  --color-slate-200: #f1f5f9;
  --color-slate-100: #f8fafc;
  --color-emerald-500: #10b981;
  --color-emerald-400: #34d399;
  --color-red-500: #ef4444;
  --color-red-400: #f87171;
  --color-amber-500: #f59e0b;
  --color-amber-400: #fbbf24;
  --color-blue-500: #3b82f6;
  --color-blue-400: #60a5fa;
}
